@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 1.15rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #2969b0;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#features3-r H4 {
  color: #ffffff;
}
#features3-r P {
  color: #ffffff;
}
#features3-r H5 {
  color: #ffffff;
}
#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
}
#menu-6 .link {
  font-size: 1.15rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #2969b0;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #0e0e0e;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#content6-8 P {
  text-align: left;
  color: #ffffff;
}
#contacts2-4y STRONG {
  color: #ffffff;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 1.15rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #2969b0;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #0e0e0e;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#features3-p H4 {
  color: #ffffff;
}
#features3-p P {
  color: #ffffff;
}
#features3-p H5 {
  color: #ffffff;
}
#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 1.15rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #2969b0;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #0e0e0e;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#features3-39 H4 {
  color: #ffffff;
}
#features3-39 P {
  color: #ffffff;
}
#features3-39 H5 {
  color: #ffffff;
}
#header3-1g .mbr-section-title,
#header3-1g .mbr-section-subtitle {
  text-align: center;
}
#features6-16 P {
  color: #f3c649;
}
#features6-16 H4 {
  color: #f3c649;
}
#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #ffffff;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #ffffff;
}
#menu-s .link {
  font-size: 1.15rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #2969b0;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #0e0e0e;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #ffffff;
}
#features6-u P {
  color: #ffffff;
}
#features6-u H4 {
  color: #ffffff;
}
#features6-u B {
  color: #000440;
}

#msg-box3-1i .mbr-section-title,
#msg-box3-1i p {
  color: #000;
}
#msg-box3-1i .mbr-section-title {
  color: #ffffff;
}
#msg-box3-1i .lead P {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
}
#menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-z .navbar-caption {
  color: #ffffff;
}
#menu-z .navbar-toggler {
  color: #ffffff;
}
#menu-z .link,
#menu-z .dropdown-item {
  color: #ffffff;
}
#menu-z .link {
  font-size: 1.15rem;
}
#menu-z .dropdown-item,
#menu-z .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-z .link:hover,
#menu-z .dropdown-item:hover,
#menu-z .link:focus,
#menu-z .dropdown-item:focus {
  color: #2969b0;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-menu {
  background: #0e0e0e;
}
#menu-z .nav-dropdown-sm .link:focus,
#menu-z .nav-dropdown-sm .link:hover,
#menu-z .nav-dropdown-sm .dropdown-item:focus,
#menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-z .navbar,
#menu-z .nav-dropdown-sm,
#menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-z .bg-color.transparent.opened .link:hover,
#menu-z .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-z .close-icon::before,
#menu-z .close-icon::after {
  background-color: #ffffff;
}
#form1-12 .form-control-label {
  color: #232323;
}
#form1-12 SMALL {
  color: #000000;
}
#header3-1j .mbr-section-title,
#header3-1j .mbr-section-subtitle {
  text-align: center;
}
#features6-1k P {
  color: #f3c649;
}
#features6-1k H4 {
  color: #f3c649;
}
#menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1l .navbar-caption {
  color: #ffffff;
}
#menu-1l .navbar-toggler {
  color: #ffffff;
}
#menu-1l .link,
#menu-1l .dropdown-item {
  color: #ffffff;
}
#menu-1l .link {
  font-size: 1.15rem;
}
#menu-1l .dropdown-item,
#menu-1l .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-1l .link:hover,
#menu-1l .dropdown-item:hover,
#menu-1l .link:focus,
#menu-1l .dropdown-item:focus {
  color: #2969b0;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-menu {
  background: #0e0e0e;
}
#menu-1l .nav-dropdown-sm .link:focus,
#menu-1l .nav-dropdown-sm .link:hover,
#menu-1l .nav-dropdown-sm .dropdown-item:focus,
#menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1l .navbar,
#menu-1l .nav-dropdown-sm,
#menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1l .bg-color.transparent.opened .link:hover,
#menu-1l .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-1l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1l .close-icon::before,
#menu-1l .close-icon::after {
  background-color: #ffffff;
}
#features6-1n P {
  color: #ffffff;
}
#features6-1n H4 {
  color: #ffffff;
}
#features6-1n B {
  color: #000440;
}
#menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1w .navbar-caption {
  color: #ffffff;
}
#menu-1w .navbar-toggler {
  color: #ffffff;
}
#menu-1w .link,
#menu-1w .dropdown-item {
  color: #ffffff;
}
#menu-1w .link {
  font-size: 1.15rem;
}
#menu-1w .dropdown-item,
#menu-1w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-1w .link:hover,
#menu-1w .dropdown-item:hover,
#menu-1w .link:focus,
#menu-1w .dropdown-item:focus {
  color: #2969b0;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-menu {
  background: #0e0e0e;
}
#menu-1w .nav-dropdown-sm .link:focus,
#menu-1w .nav-dropdown-sm .link:hover,
#menu-1w .nav-dropdown-sm .dropdown-item:focus,
#menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1w .navbar,
#menu-1w .nav-dropdown-sm,
#menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1w .bg-color.transparent.opened .link:hover,
#menu-1w .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-1w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1w .close-icon::before,
#menu-1w .close-icon::after {
  background-color: #ffffff;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
}
#menu-22 .navbar-toggler {
  color: #ffffff;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #ffffff;
}
#menu-22 .link {
  font-size: 1.15rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #2969b0;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #0e0e0e;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-22 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #ffffff;
}
#header3-26 .mbr-section-title,
#header3-26 .mbr-section-subtitle {
  text-align: center;
}
#features6-27 P {
  color: #f3c649;
}
#features6-27 H4 {
  color: #f3c649;
}
#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 1.15rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #2969b0;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #0e0e0e;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
#features6-2a P {
  color: #ffffff;
}
#features6-2a H4 {
  color: #ffffff;
}
#features6-2a B {
  color: #000440;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#features6-2d P {
  color: #f3c649;
}
#features6-2d H4 {
  color: #f3c649;
}
#menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2e .navbar-caption {
  color: #ffffff;
}
#menu-2e .navbar-toggler {
  color: #ffffff;
}
#menu-2e .link,
#menu-2e .dropdown-item {
  color: #ffffff;
}
#menu-2e .link {
  font-size: 1.15rem;
}
#menu-2e .dropdown-item,
#menu-2e .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-2e .link:hover,
#menu-2e .dropdown-item:hover,
#menu-2e .link:focus,
#menu-2e .dropdown-item:focus {
  color: #2969b0;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-menu {
  background: #0e0e0e;
}
#menu-2e .nav-dropdown-sm .link:focus,
#menu-2e .nav-dropdown-sm .link:hover,
#menu-2e .nav-dropdown-sm .dropdown-item:focus,
#menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2e .navbar,
#menu-2e .nav-dropdown-sm,
#menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2e .bg-color.transparent.opened .link:hover,
#menu-2e .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2e .close-icon::before,
#menu-2e .close-icon::after {
  background-color: #ffffff;
}
#features6-2g P {
  color: #ffffff;
}
#features6-2g H4 {
  color: #ffffff;
}
#features6-2g B {
  color: #000440;
}
#header3-2l .mbr-section-title,
#header3-2l .mbr-section-subtitle {
  text-align: center;
}
#header3-2l .mbr-section-title {
  font-size: 36px;
}
#menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2i .navbar-caption {
  color: #ffffff;
}
#menu-2i .navbar-toggler {
  color: #ffffff;
}
#menu-2i .link,
#menu-2i .dropdown-item {
  color: #ffffff;
}
#menu-2i .link {
  font-size: 1.15rem;
}
#menu-2i .dropdown-item,
#menu-2i .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-2i .link:hover,
#menu-2i .dropdown-item:hover,
#menu-2i .link:focus,
#menu-2i .dropdown-item:focus {
  color: #2969b0;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-menu {
  background: #0e0e0e;
}
#menu-2i .nav-dropdown-sm .link:focus,
#menu-2i .nav-dropdown-sm .link:hover,
#menu-2i .nav-dropdown-sm .dropdown-item:focus,
#menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2i .navbar,
#menu-2i .nav-dropdown-sm,
#menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2i .bg-color.transparent.opened .link:hover,
#menu-2i .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-2i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2i .close-icon::before,
#menu-2i .close-icon::after {
  background-color: #ffffff;
}
#content7-2k P {
  color: #000000;
}
#header3-2m .mbr-section-title,
#header3-2m .mbr-section-subtitle {
  text-align: center;
}
#header3-2m .mbr-section-title {
  font-size: 36px;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#features6-2p P {
  color: #f3c649;
}
#features6-2p H4 {
  color: #f3c649;
}
#menu-2q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2q .navbar-caption {
  color: #ffffff;
}
#menu-2q .navbar-toggler {
  color: #ffffff;
}
#menu-2q .link,
#menu-2q .dropdown-item {
  color: #ffffff;
}
#menu-2q .link {
  font-size: 1.15rem;
}
#menu-2q .dropdown-item,
#menu-2q .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-2q .link:hover,
#menu-2q .dropdown-item:hover,
#menu-2q .link:focus,
#menu-2q .dropdown-item:focus {
  color: #2969b0;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-menu {
  background: #0e0e0e;
}
#menu-2q .nav-dropdown-sm .link:focus,
#menu-2q .nav-dropdown-sm .link:hover,
#menu-2q .nav-dropdown-sm .dropdown-item:focus,
#menu-2q .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2q .navbar,
#menu-2q .nav-dropdown-sm,
#menu-2q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2q .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2q .bg-color.transparent.opened .link:hover,
#menu-2q .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-2q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2q .close-icon::before,
#menu-2q .close-icon::after {
  background-color: #ffffff;
}
#features6-2s P {
  color: #ffffff;
}
#features6-2s H4 {
  color: #ffffff;
}
#features6-2s B {
  color: #000440;
}
#header3-2u .mbr-section-title,
#header3-2u .mbr-section-subtitle {
  text-align: center;
}
#features6-2v P {
  color: #f3c649;
}
#features6-2v H4 {
  color: #f3c649;
}
#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
}
#menu-2w .navbar-toggler {
  color: #ffffff;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #ffffff;
}
#menu-2w .link {
  font-size: 1.15rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #2969b0;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #0e0e0e;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-2w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #ffffff;
}
#features6-2y P {
  color: #ffffff;
}
#features6-2y H4 {
  color: #ffffff;
}
#features6-2y B {
  color: #000440;
}
#header3-30 .mbr-section-title,
#header3-30 .mbr-section-subtitle {
  text-align: center;
}
#features6-31 P {
  color: #f3c649;
}
#features6-31 H4 {
  color: #f3c649;
}
#menu-32 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-32 .navbar-caption {
  color: #ffffff;
}
#menu-32 .navbar-toggler {
  color: #ffffff;
}
#menu-32 .link,
#menu-32 .dropdown-item {
  color: #ffffff;
}
#menu-32 .link {
  font-size: 1.15rem;
}
#menu-32 .dropdown-item,
#menu-32 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-32 .link:hover,
#menu-32 .dropdown-item:hover,
#menu-32 .link:focus,
#menu-32 .dropdown-item:focus {
  color: #2969b0;
}
#menu-32 .link[aria-expanded="true"],
#menu-32 .dropdown-menu {
  background: #0e0e0e;
}
#menu-32 .nav-dropdown-sm .link:focus,
#menu-32 .nav-dropdown-sm .link:hover,
#menu-32 .nav-dropdown-sm .dropdown-item:focus,
#menu-32 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-32 .navbar,
#menu-32 .nav-dropdown-sm,
#menu-32 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-32 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-32 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-32 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-32 .bg-color.transparent.opened .link:hover,
#menu-32 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-32 .link[aria-expanded="true"],
#menu-32 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-32.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-32 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-32 .close-icon::before,
#menu-32 .close-icon::after {
  background-color: #ffffff;
}
#features6-34 P {
  color: #ffffff;
}
#features6-34 H4 {
  color: #ffffff;
}
#features6-34 B {
  color: #000440;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#features6-3b P {
  color: #f3c649;
}
#features6-3b H4 {
  color: #f3c649;
}
#menu-3c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3c .navbar-caption {
  color: #ffffff;
}
#menu-3c .navbar-toggler {
  color: #ffffff;
}
#menu-3c .link,
#menu-3c .dropdown-item {
  color: #ffffff;
}
#menu-3c .link {
  font-size: 1.15rem;
}
#menu-3c .dropdown-item,
#menu-3c .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3c .link:hover,
#menu-3c .dropdown-item:hover,
#menu-3c .link:focus,
#menu-3c .dropdown-item:focus {
  color: #2969b0;
}
#menu-3c .link[aria-expanded="true"],
#menu-3c .dropdown-menu {
  background: #0e0e0e;
}
#menu-3c .nav-dropdown-sm .link:focus,
#menu-3c .nav-dropdown-sm .link:hover,
#menu-3c .nav-dropdown-sm .dropdown-item:focus,
#menu-3c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3c .navbar,
#menu-3c .nav-dropdown-sm,
#menu-3c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3c .bg-color.transparent.opened .link:hover,
#menu-3c .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-3c .link[aria-expanded="true"],
#menu-3c .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-3c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3c .close-icon::before,
#menu-3c .close-icon::after {
  background-color: #ffffff;
}
#features6-3e P {
  color: #ffffff;
}
#features6-3e H4 {
  color: #ffffff;
}
#features6-3e B {
  color: #000440;
}
#header3-3g .mbr-section-title,
#header3-3g .mbr-section-subtitle {
  text-align: center;
}
#features6-3h P {
  color: #f3c649;
}
#features6-3h H4 {
  color: #f3c649;
}
#menu-3i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3i .navbar-caption {
  color: #ffffff;
}
#menu-3i .navbar-toggler {
  color: #ffffff;
}
#menu-3i .link,
#menu-3i .dropdown-item {
  color: #ffffff;
}
#menu-3i .link {
  font-size: 1.15rem;
}
#menu-3i .dropdown-item,
#menu-3i .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3i .link:hover,
#menu-3i .dropdown-item:hover,
#menu-3i .link:focus,
#menu-3i .dropdown-item:focus {
  color: #2969b0;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-menu {
  background: #0e0e0e;
}
#menu-3i .nav-dropdown-sm .link:focus,
#menu-3i .nav-dropdown-sm .link:hover,
#menu-3i .nav-dropdown-sm .dropdown-item:focus,
#menu-3i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3i .navbar,
#menu-3i .nav-dropdown-sm,
#menu-3i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3i .bg-color.transparent.opened .link:hover,
#menu-3i .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-3i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3i .close-icon::before,
#menu-3i .close-icon::after {
  background-color: #ffffff;
}
#features6-3k P {
  color: #ffffff;
}
#features6-3k H4 {
  color: #ffffff;
}
#features6-3k B {
  color: #000440;
}
#header3-3m .mbr-section-title,
#header3-3m .mbr-section-subtitle {
  text-align: center;
}
#features6-3n P {
  color: #f3c649;
}
#features6-3n H4 {
  color: #f3c649;
}
#menu-3o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3o .navbar-caption {
  color: #ffffff;
}
#menu-3o .navbar-toggler {
  color: #ffffff;
}
#menu-3o .link,
#menu-3o .dropdown-item {
  color: #ffffff;
}
#menu-3o .link {
  font-size: 1.15rem;
}
#menu-3o .dropdown-item,
#menu-3o .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3o .link:hover,
#menu-3o .dropdown-item:hover,
#menu-3o .link:focus,
#menu-3o .dropdown-item:focus {
  color: #2969b0;
}
#menu-3o .link[aria-expanded="true"],
#menu-3o .dropdown-menu {
  background: #0e0e0e;
}
#menu-3o .nav-dropdown-sm .link:focus,
#menu-3o .nav-dropdown-sm .link:hover,
#menu-3o .nav-dropdown-sm .dropdown-item:focus,
#menu-3o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3o .navbar,
#menu-3o .nav-dropdown-sm,
#menu-3o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3o .bg-color.transparent.opened .link:hover,
#menu-3o .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-3o .link[aria-expanded="true"],
#menu-3o .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-3o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3o .close-icon::before,
#menu-3o .close-icon::after {
  background-color: #ffffff;
}
#features6-3q P {
  color: #ffffff;
}
#features6-3q H4 {
  color: #ffffff;
}
#features6-3q B {
  color: #000440;
}
#header3-3s .mbr-section-title,
#header3-3s .mbr-section-subtitle {
  text-align: center;
}
#features6-3t P {
  color: #f3c649;
}
#features6-3t H4 {
  color: #f3c649;
}
#menu-3u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3u .navbar-caption {
  color: #ffffff;
}
#menu-3u .navbar-toggler {
  color: #ffffff;
}
#menu-3u .link,
#menu-3u .dropdown-item {
  color: #ffffff;
}
#menu-3u .link {
  font-size: 1.15rem;
}
#menu-3u .dropdown-item,
#menu-3u .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3u .link:hover,
#menu-3u .dropdown-item:hover,
#menu-3u .link:focus,
#menu-3u .dropdown-item:focus {
  color: #2969b0;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-menu {
  background: #0e0e0e;
}
#menu-3u .nav-dropdown-sm .link:focus,
#menu-3u .nav-dropdown-sm .link:hover,
#menu-3u .nav-dropdown-sm .dropdown-item:focus,
#menu-3u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3u .navbar,
#menu-3u .nav-dropdown-sm,
#menu-3u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3u .bg-color.transparent.opened .link:hover,
#menu-3u .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-3u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3u .close-icon::before,
#menu-3u .close-icon::after {
  background-color: #ffffff;
}
#features6-3w P {
  color: #ffffff;
}
#features6-3w H4 {
  color: #ffffff;
}
#features6-3w B {
  color: #000440;
}
#header3-3y .mbr-section-title,
#header3-3y .mbr-section-subtitle {
  text-align: center;
}
#features6-3z P {
  color: #f3c649;
}
#features6-3z H4 {
  color: #f3c649;
}
#menu-40 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-40 .navbar-caption {
  color: #ffffff;
}
#menu-40 .navbar-toggler {
  color: #ffffff;
}
#menu-40 .link,
#menu-40 .dropdown-item {
  color: #ffffff;
}
#menu-40 .link {
  font-size: 1.15rem;
}
#menu-40 .dropdown-item,
#menu-40 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-40 .link:hover,
#menu-40 .dropdown-item:hover,
#menu-40 .link:focus,
#menu-40 .dropdown-item:focus {
  color: #2969b0;
}
#menu-40 .link[aria-expanded="true"],
#menu-40 .dropdown-menu {
  background: #0e0e0e;
}
#menu-40 .nav-dropdown-sm .link:focus,
#menu-40 .nav-dropdown-sm .link:hover,
#menu-40 .nav-dropdown-sm .dropdown-item:focus,
#menu-40 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-40 .navbar,
#menu-40 .nav-dropdown-sm,
#menu-40 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-40 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-40 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-40 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-40 .bg-color.transparent.opened .link:hover,
#menu-40 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-40 .link[aria-expanded="true"],
#menu-40 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-40.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-40 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-40 .close-icon::before,
#menu-40 .close-icon::after {
  background-color: #ffffff;
}
#features6-42 P {
  color: #ffffff;
}
#features6-42 H4 {
  color: #ffffff;
}
#features6-42 B {
  color: #000440;
}
#header3-44 .mbr-section-title,
#header3-44 .mbr-section-subtitle {
  text-align: center;
}
#features6-45 P {
  color: #f3c649;
}
#features6-45 H4 {
  color: #f3c649;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
}
#menu-46 .link {
  font-size: 1.15rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #2969b0;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #0e0e0e;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#features6-48 P {
  color: #ffffff;
}
#features6-48 H4 {
  color: #ffffff;
}
#features6-48 B {
  color: #000440;
}
#header3-4a .mbr-section-title,
#header3-4a .mbr-section-subtitle {
  text-align: center;
}
#features6-4b P {
  color: #f3c649;
}
#features6-4b H4 {
  color: #f3c649;
}
#menu-4c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4c .navbar-caption {
  color: #ffffff;
}
#menu-4c .navbar-toggler {
  color: #ffffff;
}
#menu-4c .link,
#menu-4c .dropdown-item {
  color: #ffffff;
}
#menu-4c .link {
  font-size: 1.15rem;
}
#menu-4c .dropdown-item,
#menu-4c .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-4c .link:hover,
#menu-4c .dropdown-item:hover,
#menu-4c .link:focus,
#menu-4c .dropdown-item:focus {
  color: #2969b0;
}
#menu-4c .link[aria-expanded="true"],
#menu-4c .dropdown-menu {
  background: #0e0e0e;
}
#menu-4c .nav-dropdown-sm .link:focus,
#menu-4c .nav-dropdown-sm .link:hover,
#menu-4c .nav-dropdown-sm .dropdown-item:focus,
#menu-4c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4c .navbar,
#menu-4c .nav-dropdown-sm,
#menu-4c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4c .bg-color.transparent.opened .link:hover,
#menu-4c .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-4c .link[aria-expanded="true"],
#menu-4c .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-4c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4c .close-icon::before,
#menu-4c .close-icon::after {
  background-color: #ffffff;
}
#features6-4e P {
  color: #ffffff;
}
#features6-4e H4 {
  color: #ffffff;
}
#features6-4e B {
  color: #000440;
}
#header3-4g .mbr-section-title,
#header3-4g .mbr-section-subtitle {
  text-align: center;
}
#features6-4h P {
  color: #f3c649;
}
#features6-4h H4 {
  color: #f3c649;
}
#menu-4i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4i .navbar-caption {
  color: #ffffff;
}
#menu-4i .navbar-toggler {
  color: #ffffff;
}
#menu-4i .link,
#menu-4i .dropdown-item {
  color: #ffffff;
}
#menu-4i .link {
  font-size: 1.15rem;
}
#menu-4i .dropdown-item,
#menu-4i .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-4i .link:hover,
#menu-4i .dropdown-item:hover,
#menu-4i .link:focus,
#menu-4i .dropdown-item:focus {
  color: #2969b0;
}
#menu-4i .link[aria-expanded="true"],
#menu-4i .dropdown-menu {
  background: #0e0e0e;
}
#menu-4i .nav-dropdown-sm .link:focus,
#menu-4i .nav-dropdown-sm .link:hover,
#menu-4i .nav-dropdown-sm .dropdown-item:focus,
#menu-4i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4i .navbar,
#menu-4i .nav-dropdown-sm,
#menu-4i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4i .bg-color.transparent.opened .link:hover,
#menu-4i .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-4i .link[aria-expanded="true"],
#menu-4i .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-4i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4i .close-icon::before,
#menu-4i .close-icon::after {
  background-color: #ffffff;
}
#features6-4k P {
  color: #ffffff;
}
#features6-4k H4 {
  color: #ffffff;
}
#features6-4k B {
  color: #000440;
}
#features3-4m H4 {
  color: #ffffff;
}
#features3-4m P {
  color: #ffffff;
}
#features3-4m H5 {
  color: #ffffff;
}
#menu-4n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4n .navbar-caption {
  color: #ffffff;
}
#menu-4n .navbar-toggler {
  color: #ffffff;
}
#menu-4n .link,
#menu-4n .dropdown-item {
  color: #ffffff;
}
#menu-4n .link {
  font-size: 1.15rem;
}
#menu-4n .dropdown-item,
#menu-4n .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-4n .link:hover,
#menu-4n .dropdown-item:hover,
#menu-4n .link:focus,
#menu-4n .dropdown-item:focus {
  color: #2969b0;
}
#menu-4n .link[aria-expanded="true"],
#menu-4n .dropdown-menu {
  background: #0e0e0e;
}
#menu-4n .nav-dropdown-sm .link:focus,
#menu-4n .nav-dropdown-sm .link:hover,
#menu-4n .nav-dropdown-sm .dropdown-item:focus,
#menu-4n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4n .navbar,
#menu-4n .nav-dropdown-sm,
#menu-4n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4n .bg-color.transparent.opened .link:hover,
#menu-4n .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-4n .link[aria-expanded="true"],
#menu-4n .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-4n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4n .close-icon::before,
#menu-4n .close-icon::after {
  background-color: #ffffff;
}
#features3-4o H4 {
  color: #ffffff;
}
#features3-4o P {
  color: #ffffff;
}
#features3-4o H5 {
  color: #ffffff;
}
#msg-box3-4q .mbr-section-title,
#msg-box3-4q p {
  color: #000;
}
#header3-4w .mbr-section-title,
#header3-4w .mbr-section-subtitle {
  text-align: center;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #ffffff;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #ffffff;
}
#menu-4r .link {
  font-size: 1.15rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #2969b0;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #0e0e0e;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #ffffff;
}
